.timer .timerInputs, .timer .controlPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.timer .timerInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
  flex-direction: column;
}

.timer .timerInputs .fieldSeparator {
font-size: 2.5rem;
font-weight: bold;
}

.timer .timerInput input {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2); */
  margin: 0.5rem;
  background: white;
  color: black;
  text-align: center;
  width: 10rem;
  user-select: none;
  border: none;
  width: 2.5rem;

}

.timer .timerInput input:focus {
  outline: 1px solid #ff416c;
}

.timer .controlPanel button , .timer .timerInput button{
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  text-align: center;
  width: 10rem;

  user-select: none;
}
 

/* Write styles for disabled buttons */
.timer .controlPanel button:disabled, .timer .timerInput button:disabled {
  cursor: not-allowed;
  background: #ccc;
  color: #666;
}


.timer .timerInput button {
  width: 2rem;
}